{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  ERPNEXT
{% endblock %}

{% block content %}
  <script src="{% static 'web_app/js/functions.js' %}"></script>

  Erpnext Website

  <!--  url should be namespaced -->
  <form action = "{% url 'asksitedetails' %}"  method="GET">
    {% csrf_token %}
    <button> CREATE NEW SITE</button>
  </form>

  <form action = "{% url 'access_site' %}"  method="POST">
    {% csrf_token %}
    <button>ACCESS SITE</button>
  </form>

{% endblock %}
